*{
    margin: 0;
    padding: 0;
  }
  #navtag{
    padding-left: 1%;
    padding-right: 1%;
    border: 2px dotted rgb(85, 146, 85);
    border-radius: 10px 15px;
  }
  #navtag:hover{
    background-color: rgb(6, 138, 6);
    color: aliceblue;
  }
  /* Font Imports  */
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');

#AccessCode{
  text-align: center;
  border-radius: 10px 15px;
}
#signins{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 6%;
  margin-left: 10%;
  flex-direction: column;
  height: auto;
  border-radius: 15px;
  background-color: rgb(230, 132, 67);
}
#signins h2{
  margin-top: 5vh;
  margin-bottom: 20vh;
  color: rgb(34, 24, 32);
  font-family:'Ubuntu', sans-serif;
}
#signins button{
  margin-top: 10vh;
}
#AutoLogins{
  margin-bottom: 10vh;
}
#projects{
  display: none;
}
#Loginbtn{
  margin-bottom: 5vh;
}