# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules


# frontend
/frontend/node_modules

#backend
/backend/node_modules

# application
/application/node_modules
.nx/installation
.nx/cache
.nx/workspace-data


.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md